@import "../../styles/variables";

.main_page {
  margin-top: 2.5rem;
  height: 100%;
  .line {
    margin-top: 2.5rem;
    width: 30%;
    height: 0.3rem;
    background-color: #fff;
  }
  .main_text {
    cursor: default;
    color: #fff;
    #name {
      font-size: 50px;
    }
    .aos_text {
      height: 20px;
    }

    #specification {
      font-size: 15px;
      font-family: "Lucida Console", Monaco, monospace !important;
    }
  }
}
.sider_div{
  overflow: hidden;
}

@media only screen and (max-width: $md-width) {
  .aos_text {
    text-align: center;
  }
}
